<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="end">
      <accessibility-button></accessibility-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [style.font-size.em]="fontSize">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        TODO :: List of Patient's that take you to a Form Details;
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
