<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="end">
      <accessibility-button></accessibility-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [style.font-size.em]="fontSize">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-card [style.font-size.em]="fontSize">
          <ion-card-header>
            <ion-card-title [style.font-size.em]="fontSize"
              >Watch this space</ion-card-title
            >
          </ion-card-header>
          <ion-card-content [style.font-size.em]="fontSize">
            <p>We plan to have a list of patient form results here.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
