// TODO :: Colour Pallette no such thing as ion-color-primary-on-white
// form {
//     ion-item {
//       --padding-end: 0px;
//       --padding-start: 0px;
//       --inner-padding-end: 0px;
//       --inner-padding-start: 0px;
//       --background: var(--ion-color-light);
//       --border-color: var(--ion-color-light);
//       &.item-has-focus {
//         --background: var(--ion-color-light);
//       }
//       &.item-checkbox-checked {
//         ion-label {
//           color: var(--ion-color-primary-on-white);
//         }
//       }
//       &.item-radio-checked {
//         ion-label {
//           color: var(--ion-color-primary-on-white);
//         }
//       }
//     }
//     ion-input {
//       --background: var(--color-white);
//       border-radius: 4px;
//       padding: 0 4px !important;
//     }
//     ion-textarea {
//       --background: var(--color-white);
//       border-radius: 4px;
//       padding: 0 4px !important;
//     }
//     ion-checkbox {
//       --background-checked: var(--ion-color-primary-on-white);
//       --checkmark-color: var(--color-white);
//     }
//   }