@font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/OpenDyslexic-Regular.otf');
}

@font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: bold;
    src: url('src/assets/fonts/OpenDyslexic-Bold.otf');
}

@font-face {
    font-family: 'OpenDyslexic';
    font-style: italic;
    font-weight: normal;
    src: url('src/assets/fonts/OpenDyslexic-Italic.otf');
}

@font-face {
    font-family: 'OpenDyslexic';
    font-style: italic;
    font-weight: bold;
    src: url('src/assets/fonts/OpenDyslexic-BoldItalic.otf');
}