<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label>Dark mode</ion-label>

        <ion-toggle (ionChange)="onToggleDarkMode($event)" [checked]="a11yFeatures.isDarkMode" [(ngModel)]="a11yFeatures.isDarkMode" ></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-label>Reader Mode</ion-label>
        <ion-toggle (ionChange)="onToggleReaderMode($event)" [checked]="a11yFeatures.isReaderMode" [(ngModel)]="a11yFeatures.isReaderMode"></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-range min="1" max="3.5" snaps="true" step="0.5" (ionChange)='onChangeFontSize($event)' [value]="a11yFeatures.fontSize" ([ngModel])="a11yFeatures.fontSize">
          <ion-label slot="start" [style.font-size.px]="12">A</ion-label>
          <ion-label slot="end" [style.font-size.px]="20">A</ion-label>
        </ion-range>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-button (click)="restoreDefaults()">
        <ion-icon slot="start" name="refresh"></ion-icon>
        Reset
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
