<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="end">
      <accessibility-button></accessibility-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title [style.font-size.em]="fontSize">MORE INCLUSIVE MEDICAL FORMS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p [style.font-size.em]="fontSize">
              We want to build accessible medical forms for the visually impaired. 
            </p>
            <p></p>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <ion-card-header>
            <ion-card-title [style.font-size.em]="fontSize">One of the biggest misconceptions in design is that accessibility features are only used by people with disabilities.</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p [style.font-size.em]="fontSize">
              ~ Anonymous
            </p>
            <img src="/forma11y/assets/img/undraw_project_feedback_2s92.svg" alt="We use a Persona Spectrum to understand related limitations
            across a spectrum of permanent, temporary, and situational
            disabilities. It’s a quick tool to help foster empathy and to
            show how a solution can scale to a broader audience."/>
            <small [style.font-size.em]="fontSize">source: <a href="https://undraw.co/">https://undraw.co/</a></small>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title [style.font-size.em]="fontSize">SOLVE FOR ONE, EXTEND TO MANY</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="/forma11y/assets/img/the_persona_spectrum.png" alt="Illustration Persona in wheelchair holding a speech bubble and large Phone in the background"/>
            <small [style.font-size.em]="fontSize">source: <a href="https://www.microsoft.com/design/inclusive/">Microsoft: Inclusive Design Toolkit</a></small>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>